body{
  background-color : #6fb8b9;
  font-family : inter;
}

nav.menu {
    background-color: rgb(38, 135, 201);
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu li {
    padding: 5px 10px;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.menu li a:hover {
    color: rgb(250, 179, 21);
}

table {
    text-align : left;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-spacing: 0;
}


th, td {
    border : 1px solid;
    padding : 2px;
}

h1 {
	color:black;
	font-family: Spartan;
	font-weight:bold;
	text-align: center;
}

form {
    display : grid;
    grid-template-columns : 1fr 1fr;
}

.perso {
    display: grid;
}

.perso label {
    margin-top: 1ex;
}

footer {
    grid-column-start: 1;
    grid-column-end: 3;
}

.formulaire_index {
    padding : 5px;
    margin : 10px;
    align-self: start;
}

.item_formulaire_index {
    margin: 10px;
}

fieldset.creneaux_index {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    align-self: stretch;
}

div.creneaux_index {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.creneaux_index div:nth-child(odd) {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.validation_index {
    margin : 20px;
    padding-left : 20%;
    padding-right : 20%;
}

.validation_index div {
    margin : 10px;
}

textarea{
  width: 90%;
  height: 100px;
}

/**
*** déco des labels, checkbox/radio invisibles
***/

input[type="checkbox"] {
    cursor : pointer;
}

input[type="checkbox"]:not(.texteconsigne):not(.textergpd),input[type="radio"] {
    display : none;
}

label.round {  /* les labels des checkbox/radios */
     border : 1px solid black;
     padding : 5px 10px;
     margin : 5px;
     border-radius : 15px;
     line-height: calc(22px + 1em);
     background-color : #2687c9;
     text-align : center;
     color : white;
     cursor : pointer;
 }

button {   /* bouton validation formulaire */
    display: block;
    margin: 0 auto;
      border-radius : 15px;
      width : 90%;
      min-height : 50px;
      top : 0px;
      font-size : 1.2em;
      background-color : #2687c9;
      cursor : pointer;
      color : white;
}

.radio{
     display : block;
     margin-top : 10px;
     margin-bottom : 10px;
 }

/***
*** partie spécifique selon le type d'appareil/la taille de l'écran
***/

@media screen and (max-device-width : 902px), (max-width : 902px){

form {
     grid-template-columns : 1fr;
}
footer {
    grid-column-start: auto;
    grid-column-end: auto;
}

label.round {  /* les labels des checkbox/radios */
     display : inline-block;
     border : 1px solid black;
     padding : 5px;
     margin : 5px;
     min-width : 15%;
     line-height: initial;
     border-radius : 15px;
     background-color : #2687c9;
     text-align : center;
     color : white;
     cursor : pointer;
}

fieldset.creneaux_index {
    grid-column-start: auto;
    grid-row-start: auto;
}

div.creneaux_index {
    grid-template-columns : 1fr;
}

.creneaux_index div:nth-child(odd) {
    margin-top: 0;
    margin-bottom: 0;
}

.creneaux_index div:nth-child(even) {
    margin-top: 0.1em;
    margin-bottom: 0.5em;
}


.consignesecurite {
    width:30px;
    height:30px;
}

textarea {
    font-size : 1.2em;
}

.validation_index {
    padding : 0px;
    margin : 5px;
    text-align : center;
}

.validation_index>div {
    text-align : left;
}

}
