*{
  font-family: Avenir, sans-serif;
  text-align : center;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-left : 5px;
  padding-right : 5px;
  border : 1px solid black;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.formulairecache {
  display : none;    
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.formulairecache > div {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  margin-top : 50px;
  border: 1px solid #888;
  width: 80%;
  color : black;
}

.bgdarkorange {
      background-color: darkorange;
}

.bgyellow {
      background-color: #FFCC00;
}

.bgred {
      background-color: red;
}

.bggreen {
      background-color: green;
}


.petitboutonmodif {
  border: none;
  color: black;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px;
  border : 1px solid black;
  cursor: pointer;
  width : 30px;
  height : 17px;
  border-radius: 12px;    */ 
}


.modifcreneau {
    display : grid;
    grid-template-columns : 1fr 1fr 1fr 1fr 1fr;
    width : 90%;
    border : 1px solid black;
}
.containeurdemandesgeneral {
    display : grid;
    grid-template-columns : 3fr 1fr;
}

.containeurinfo >div {
    text-align : left;
    margin : 5px;
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
}
.containeurinfo textarea {
    width : 90%;
}

.unjourtitre {
    margin : 15px;
    padding : 15px;
}

.unjour {
    display : grid;
    grid-template-columns : 1fr 1fr 1fr 1fr;
    align-items : start;
    margin-left : 30px;
}

.unjour table {
    border-collapse: collapse;
}

.unjour tr td,.unjour tr th {
   border: 1px solid black; 
}

.unjour tr td button {
    margin : 0px;
    padding : 0px;
}



.creationCreneau {
   margin : 20px;
}

.item_formulaire_index {
    margin: 10px;
}

.rappelcreneau {
    margin : 20px;
}

.grillecreneau {
    display : grid;
    grid-template-columns : 1fr 1fr 1fr 1fr 1fr;
    width : 90%;
}

.grillecreneau div {
      text-align : left;
}

#ValidationDemandes div {
    text-align : left;
    margin-left : 35%;
}

#ValidationDemandes{
    margin-bottom : 10px;
    
}

#menu, #menu ul{
padding:0;
margin:0;
list-style:none;
text-align:center;
}
#menu li{
display:inline-block;
position:relative;
border-radius:8px 8px 0 0;
}

#menu ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}

/* background des liens menus */
#menu li:first-child{
background-color: #F6AD1A;
background-image:-webkit-linear-gradient(top, #F6AD1A 0%, #9F391A 100%);
background-image:linear-gradient(to bottom, #F6AD1A 0%, #9F391A 100%);
}
#menu li:nth-child(1n+2){
background-color: #729EBF;
background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
background-image:linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
}
#menu li:last-child{
background-color: #CFFF6A;
background-image:-webkit-linear-gradient(top, #CFFF6A 0%, #677F35 100%);
background-image:linear-gradient(to bottom, #CFFF6A 0%, #677F35 100%);
}
/* background des liens menus et sous menus au survol */
#menu li:first-child:hover{
background:#F6AD1A;
}
#menu li:nth-child(1n+2):hover{
background:#729EBF;
}
#menu li:last-child:hover{
background:#CFFF6A;
}
/* les a href */
#menu a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
font-family:arial;
}
#menu ul a{
padding:8px 0;
}
#menu li:hover a{
color:#000;
}